.baseLayout {
  display: flex;
  background: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
  height: 100%;
}

.baseLayout main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
